{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-l">Candidate journey pages</h1>
    <p><a href="/Homepage_as_is">Home page (as is)</a><br>
      <a href="/Homepage_to_be">Home page (to be new content)</a></p><br>

      <h1 class="govuk-heading-l">My new designs</h1>
      <p><a href="/Homepage_new_design">Home page</a><br>
      <a href="/search-results-page">Search results page</a><br>
      <a href="/Job_advert">Job advert</a><br>
      <a href="/sign_in_page">Sign in page</a></p><br>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
