{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      <span class="govuk-visually-hidden">This section is: </span>Prototype
  </span>
  <h1 class="govuk-heading-xl">Civil Service Jobs improvements</h1>
  <p class="govuk-body-m">Last updated 25 April 2024</p>
  <hr class="govuk-!-margin-top-1 govuk-!-margin-bottom-1"><br>


    <h1 class="govuk-heading-l">Candidate journey content changes</h1>
    <p class="govuk-body-m">The following prototypes are to show the content changes which have been proposed for the candidate V9 pages.</p>
    <p class="govuk-body-m">These changes do not involve changing the CSS or html on the page and is content only. </p>
    <p class="govuk-body-m">These have been built to look like the current pages as best a possible however some elements cannot be replicated.</p>

    <table class="govuk-table">
            <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Page title</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Current as is page</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">New content page</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Home page</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/Homepage_as_is">Select</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/homepage_to_be">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sign in page</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/sign-in-page-as-is">Select</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/sign-in-page-new-content">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Create an account</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/create-an-account-as-is">Select</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/create-an-account-new-content">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Forgotten password</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/reset-password-as-is">Select</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/reset-password-new-content">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Password reset link sent</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/password-reset-link-sent-as-is">Select</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/password-reset-link-sent-new-content">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Enter a new password</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/new-password-as-is">Select</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/new-password-new-content">Select</a></td>
        </tr>
      </tbody>
    </table>
  <br>

  <h1 class="govuk-heading-l">Change request prototypes</h1>

  <p class="govuk-body-m">The following prototypes have been created as part of a change request to enable impact assessment.</p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">CR number and description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/Job-advert-as-is">Job advert</a></th>
        <td class="govuk-table__cell">CRX845 - Standard D&I text</td>
      </tr>
    </tbody>
  </table>

      <h1 class="govuk-heading-l">My new designs</h1>
      <p class="govuk-body-m">The following prototypes are to show my proposed designs for the new candidate pages.</p>
      <p class="govuk-body-m">These prototypes use the full GDS CSS styles and components and are built using best practice. </p>
      <p><a href="/Homepage_new_design">Home page</a><br>
      <a href="/search-results-page">Search results page</a><br>
      <a href="/Job_advert">Job advert</a><br>
      <a href="/sign_in_page">Sign in page</a><br>
      <a href="/create-an-account">Create an account</a><br>
      <a href="/reset-password">Forgotten password</a><br>
      <a href="/password-reset-link-sent">Password reset link sent</a><br>
      <a href="/new-password">Enter a new password</a></p><br>

  
  </div>
</div>

{% endblock %}
