{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Civil Service Jobs",
  serviceUrl: "/Homepage_as_is",
  navigation: [
  {
    href: "/Homepage_as_is",
    text: "Home",
    active: true
  },
  {
    href: "/sign_in_page_as-is",
    text: "Sign in to your account"
  },
    {
      href: "#3",
      text: "Cymraeg"
    },
    {
      href: "/index.html",
      text: "Prototype main page",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
          

  <div class="govuk-grid-row">	
    <div class="govuk-grid-column-full">    

      <img src="https://static.civilservicejobs.service.gov.uk/company/nghr/sp/images/logos/199999.png" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Senior Interaction Designer</h1>
        <div id="event-name-hint" class="govuk-hint">
          Cabinet Office
        </div>
        <h3 class="govuk-heading-s">Apply before 11:55 pm on Friday 26th January 2024</h3><br><br>

        <button class="govuk-button" data-module="govuk-button" style="float: right;">
          Apply now
        </button>
        <br>
        <br>
        <br>
        <br>
        <br>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third grey govuk-!-padding-top-5" style="background-color: 		#f3f2f1">
  
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Reference number</p>
          <p>335730</p>
          
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Salary</p>
          <p>£39,439 - £47,039</p>
          
          <p>A <a href="#" class="govuk-link govuk-link--no-visited-state">Civil Service Pension</a> with an average employer contribution of 27%</p>
          
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Job grade</p>
          <p>Senior Executive Officer</p>
          
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Contract type</p>
          <p>Permanent</p>
  
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Length of employment</p>
          <p>For a period of up to 12 months</p>
          
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Business area</p>
          <p>Government People Group</p>
  
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Type of role</p>
          <p>Communications / Marketing</p>
          
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Working pattern</p>
          <p>Flexible working, Full-time, Job share, Part-time, Compressed hours</p>
          
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Number of jobs available</p>
          <p>1</p>
  
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-5"><br>
  
          <h2 class="govuk-heading-m">Contents</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Location</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#">About the job</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Benefits</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Things you need to know</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#apply_tag">Apply and further information</a></li>					
          </ul>
  
          <h2 class="govuk-heading-m">Location</h2>
          <p>Bristol, London, Newcastle-upon-Tyne, York</p>
          
          <h2 class="govuk-heading-m">About the job</h2>
          <h3 class="govuk-heading-s">Job summary</h3>
          <p>We are looking for an ambitious and proven communications professional to support Defra’s creative and highly-respected Events and Visits team.</p>
          <p>The postholder will oversee the continued delivery of high-profile events and visits linked to the Secretary of State’s key policy areas including improving and protecting the environment, growing a green economy, sustaining thriving rural communities and supporting our world-leading food, farming, and fishing industries.</p>
          <p>This role requires travel within the UK (and may include occasional overseas travel).</p>
  
          <h3 class="govuk-heading-s">Job description</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Work as part of a talented team of people overseeing external engagement activity and Ministerial visits across the Department.</li>
            <li>Work collaboratively with other comms pillars and policy teams to ensure that there is a consistent approach to all stakeholder events and visits.</li>
            <li>Collaborate and build relationships with our external partners in order to facilitate high quality visits and events including agencies, photographers, businesses and other government departments.</li>
            <li>Build strong relationships with Special Advisers (SpAds) and Private Offices and become a trusted adviser of outreach activity.</li>
            <li>Line manage two IOs and ensure they have stretching goals and development plans.</li>
            <li>Drafting detailed itineraries and producing high quality briefings for events and visits working in partnership with policy teams.</li>
            <li>Advising on stakeholder engagement and communications, and of building excellent networks.</li>
            <li>Working closely with the Secretary of State, Junior Ministers, Special Advisers, officials and external partners.</li>
          </ul>
  
          <h3 class="govuk-heading-s">Person specification</h3>				
          <ul class="govuk-list govuk-list--bullet">
            <li>Experience working with press office, digital and strategic comms to deliver high quality work, often at pace.</li>
            <li>Detailed understanding of Westminster, and of political process in the UK and Devolved Administrations.</li>
            <li>Demonstrable knowledge and understanding of Defra topics and a track record of working with stakeholders.</li>
            <li>Ability to work at pace and to adapt to changing scenarios.					</li>
          </ul>
          <p>The successful candidate will require CTC clearance. Therefore, confirmation of appointment to the advertised post will be dependent upon successful CTC clearance being confirmed as part of pre-employment checks.</p>
  
  
  
          <p>Behaviours</p>
          <p>We'll assess you against these behaviours during the selection process:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Working Together</li>
            <li>Communicating and Influencing</li>
            <li>Delivering at Pace</li>
            <li>Seeing the Big Picture</li>
            <li>Changing and Improving</li>
          </ul>
          <p>We only ask for evidence of these behaviours on your application form:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Working Together</li>
            <li>Communicating and Influencing</li>
            <li>Delivering at Pace</li>
            <li>Seeing the Big Picture</li>
          </ul>
          
        <h2 class="govuk-heading-m">Benefits</h2>	
        <p>Alongside your salary of £39,439, Department for Environment, Food and Rural Affairs contributes £10,649 towards you being a member of the Civil Service Defined Benefit Pension scheme. Find out what benefits a Civil Service Pension provides.</p>					
        <ul class="govuk-list govuk-list--bullet">
          <li>Learning and development tailored to your role</li>
          <li>An environment with flexible working options</li>
          <li>A culture encouraging inclusion and diversity</li>
          <li>A Civil Service pension with an average employer contribution of 27%</li>
        </ul>			
  
        <h2 class="govuk-heading-m">Office attendance</h2>
        <p>Successful candidates are expected to work from one of the office locations listed in this advert. Our current office attendance approach requires 60% attendance in Defra group workplaces or off site meetings with partners and customers.  This balance provides thriving workplaces to connect with colleagues, as required by their role and business team needs balanced with personal flexibility and choice.</p>
  
  
        <h2 class="govuk-heading-m">Things you need to know</h2>
        <h3 class="govuk-heading-s">Selection process details</h3>
        <p>This vacancy is using Success Profiles (opens in a new window), and will assess your Behaviours, Strengths and Experience.</p>
        
        <h3 class="govuk-heading-s">Application Process</h3>		
        <p>As part of the application process you will be asked to complete a CV, personal statement and Civil Service Behaviour statements.</p>
        <p>For your personal statement (500 word max), please provide detailed evidence of the criteria in the person specification.</p>
        <p>Further details around what this will entail are listed on the application form.</p>
  
        <h3 class="govuk-heading-s">Sift</h3>
        <p>For your personal statement, please provide detailed evidence of the criteria in the person specification. Should a large number of applications be received, an initial sift may be conducted using the personal statement. Candidates who pass the initial sift may be progressed to a full sift, or progressed straight to assessment/interview.</p>
        <p>Sift and interview dates, as well as the interview location, to be confirmed.</p>
        <p>Please complete statements on the specified Behaviours (250 word max per statement).</p>
  
  
        <h3 class="govuk-heading-s">Interview</h3>
        <p>If successful at application stage, you will be invited to interview where you will be assessed on the following Civil Service Behaviours: Communicating and Influencing, Delivering at Pace and Working Together; the following Technical Skill: Digital Skills; and a Strength. </p>
        <p>A presentation or additional exercise may also be assessed.</p>
  
  
        <h3 class="govuk-heading-s">Location</h3>
        <p>Please be aware that this role(s) will be contractually based in a Defra group workplace/office. The successful candidate is required to carry out all their duties from a UK location, and cannot do so from an overseas location at any time.</p>
        <p>Candidates applying for these roles will be based at one of the Defra hubs as advertised.</p>
        <p>For information, our core Defra hub locations are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>York – the Kings Pool; </li>
          <li>Newcastle – Lancaster House; </li>
          <li>Bristol – Horizon House (Please note that space at this office is limited and it may not be possible for all Policy roles to be recruited to this location); </li>
          <li>London – 2 Marsham Street.</li>
        </ul>
  
        <p>Internal (core Defra) employees can apply for this role and choose to remain in their current location or to be based in one of the advertised locations.</p>
        <p>All other applicants will be based in one of the advertised locations.Our current office attendance approach requires 60% attendance in Defra group workplaces or off site meetings with partners and customers. This balance provides thriving workplaces to connect with colleagues, as required by their role and business team needs balanced with personal flexibility and choice. </p>
  
  
        <h3 class="govuk-heading-s">Reserve List</h3>
        <p>A reserve list may be held for a period of 12 months from which further appointments can be made.</p>
  
        <h3 class="govuk-heading-s">Merit Lists</h3>	
        <p>Where more than one location is advertised, candidates will be posted in merit order by location. You will be asked to state your location preference on your application.</p>
        
        <h3 class="govuk-heading-s">Salary</h3>	
        <p>New entrants to the Civil Service are expected to start on the minimum of the pay band. The internal roles rules apply to existing Civil Servants, i.e. level transfers move on current salary or the pay range minimum, transfers on promotion move to new pay range minimum or receive 10% increase. Either case is determined by whichever is the highest.</p>			
  
        <h3 class="govuk-heading-s">Accessibility</h3>					
        <p>If you are experiencing accessibility problems with any attachments on this advert, please contact the email address in the 'Contact point for applicants' section.</p>
        
        <h3 class="govuk-heading-s">Criminal Record Check</h3>								
        <p>If successful and transferring from another Government Department, a criminal record check may be carried out.</p>
        <p>In order to process applications without delay, we will be sending a Criminal Record Check to Disclosure and Barring Service on your behalf. However, we recognise in exceptional circumstances some candidates will want to send their completed forms direct. If you will be doing this, please advise Government Recruitment Service of your intention by emailing Pre-EmploymentChecks.grs@cabinetoffice.gov.uk stating the job reference number in the subject heading. </p>
        
        <h3 class="govuk-heading-s">Internal Fraud Database Check</h3>								
        <p>Applicants who are successful at interview will be, as part of pre-employment screening subject to a check on the Internal Fraud Database (IFD). This check will provide information about employees who have been dismissed for fraud or dishonesty offences. This check also applies to employees who resign or otherwise leave before being dismissed for fraud or dishonesty had their employment continued. Any applicant’s details held on the IFD will be refused employment.</p>
        <p>A candidate is not eligible to apply for a role within the Civil Service if the application is made within a 5-year period following a dismissal for carrying out internal fraud against government.</p>
        
        <h3 class="govuk-heading-s">Higher Security Clearance</h3>								
        <p>Please be aware the levels of national security clearance are changing which may impact on the level needed for this role by the time of appointment. All efforts will be made to keep candidates informed of any changes and what that will mean in terms of vetting criteria. For more information please See our vetting charter.</p>
        <p>Candidates posted to the Marsham Street, London office will require the higher level of CTC clearance. Therefore, confirmation of appointment to the advertised post will be dependent upon successful CTC clearance being confirmed as part of pre-employment checks.</p>
        
          
        <h3 class="govuk-heading-s">Security</h3>											
        <p>Successful candidates must undergo a criminal record check.</p>
        <p>People working with government assets must complete baseline personnel security standard (opens in new window) checks.</p>
        
        <h3 class="govuk-heading-m">Nationality requirements</h3>								
        <p>This job is broadly open to the following groups:</p>			
        <ul class="govuk-list govuk-list--bullet">
          <li>UK nationals</li>
          <li>nationals of the Republic of Ireland</li>
          <li>nationals of Commonwealth countries who have the right to work in the UK</li>
          <li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities with settled or pre-settled status under the European Union Settlement Scheme (EUSS) (opens in a new window)</li>
          <li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities who have made a valid application for settled or pre-settled status under the European Union Settlement Scheme (EUSS)</li>
          <li>individuals with limited leave to remain or indefinite leave to remain who were eligible to apply for EUSS on or before 31 December 2020</li>
          <li>Turkish nationals, and certain family members of Turkish nationals, who have accrued the right to work in the Civil Service</li>
        </ul>
        
        <p><a href="#" target="_blank">Further information on nationality requirements (opens in a new window)</a>.</p>
        
        <h3 class="govuk-heading-m">Working for the Civil Service</h3>											
        <p>The Civil Service Code (opens in a new window) sets out the standards of behaviour expected of civil servants.</p>
        <p>We recruit by merit on the basis of fair and open competition, as outlined in the Civil Service Commission's recruitment principles (opens in a new window).</p>
        <p>The Civil Service embraces diversity and promotes equal opportunities. As such, we run a Disability Confident Scheme (DCS) for candidates with disabilities who meet the minimum selection criteria.</p>
        <p>The Civil Service also offers a Redeployment Interview Scheme to civil servants who are at risk of redundancy, and who meet the minimum requirements for the advertised vacancy.</p>
        
        <section style="background-color: #ffdd00;">
                  <h3 class="govuk-heading-m">Diversity and Inclusion</h3>											
        <P>The Civil Service is committed to attract, retain and invest in talent wherever it is found. To learn more please see the <a href="https://www.gov.uk/government/publications/civil-service-people-plan-2024-2027/civil-service-people-plan-2024-2027-html" class="govuk-link govuk-link--no-visited-state">Civil Service People Plan</a>
          and the <a href="https://www.gov.uk/government/publications/civil-service-diversity-and-inclusion-strategy-2022-to-2025" class="govuk-link govuk-link--no-visited-state">Civil Service Diversity and Inclusion Strategy</a>.
          </p>
        </section>

        <h2 class="govuk-heading-m">Apply and further information</h2>																					
        <p>Once this job has closed, the job advert will no longer be available. You may want to save a copy for your records.</p>
        <P>This vacancy is part of the Great Place to Work for Veterans (opens in a new window) initiative.</P>
          <p>The Civil Service welcomes applications from people who have recently left prison or have an unspent conviction. Read more about prison leaver recruitment (opens in new window).</P>
  
        <h3 class="govuk-heading-m">Contact point for applicants</h3>											
        <p>Job contact</p>
        <p>Kathie Coad</p>
        <p>Email :kathie.coad@defra.gov.uk
        </p>
        
        <p>Recruitment team</p>
        <p>Email :defrarecruitment.grs@cabinetoffice.gov.uk</p>

        <P>The Civil Service is committed to attract, retain and invest in talent wherever it is found. To learn more please see the <a href="#" class="govuk-link govuk-link--no-visited-state">Civil Service People Plan</a>
        and the <a href="#" class="govuk-link govuk-link--no-visited-state">Civil Service Diversity and Inclusion Strategy</a>.
        </p>

  
  
  
          <form method="post" action="/csjobs/sign-in">
  
            <input type="hidden" name="applyHaveAccount" id="applyHaveAccount" value="Yes">
            <!-- <input type="hidden" name="applyCreateAccount" id="applyCreateAccount" value="Yes" /> -->
  
            
  
    
      
    
  
  <button class="govuk-button" data-module="govuk-button">
    Apply now
  </button>
  
  
          </form>
  
        </div>
  
  
  
      </div>
  
      </div>  
  </div>
  
  
          </main>
        </div>
          

{% endblock %}
