{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application form
  
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Civil Service Jobs",
  serviceUrl: "/Homepage_new_design",
  navigation: [
    {
      href: "#1",
      text: "My dashboard",
      active: true
    },
    {
      href: "#2",
      text: "Sign out"
    },
    {
      href: "/index.html",
      text: "Prototype main page",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype and is not a real service.'
}) }}<br>

{% endblock %}

{% block content %}

<p class="govuk-body govuk-!-font-weight-bold">Job reference - 1234234</p>
<hr class="govuk-!-margin-top-1 govuk-!-margin-bottom-1"><br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="padding-right:10px">

    <h1 class="govuk-heading-xl">Your application for Senior interaction designer</h1>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You must submit your application before 11:55pm on 22nd February 2023.
        </p>
      </div>
    </div>
    <p class="govuk-body">You can leave and return to complete at any time. Your answers will automatically save when you complete a task.</p>

    <p class="govuk-body"><a href="/Job_advert">View the job advert</a>.</p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Application progress</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 4 sections.</p>
    </div>
    <div class="govuk-grid-column-one-quarter" style="padding-left:20px">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Check you can apply</h2>
      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Eligibility"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Personal details</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Personal information"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Work preferences"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Diversity and inclusion"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Assessments</h2>

      {{ govukTaskList({
        idPrefix: "third-section",
        items: [
          {
            title: {
              text: "Job history"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Breaks in employment"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Desirable experience and skills"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Qualification history"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Your CV"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Personal statement"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Behaviours"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Technical Skills"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Upload documents"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Role specific questions"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Declaration</h2>

      {{ govukTaskList({
        idPrefix: "fourth-section",
        items: [
          {
            title: {
              text: "Declaration"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}


      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Submit application", href: "/application-submitted" }) }}
      </div>

    </div>
  </div>
{% endblock %}
