{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Civil Service Jobs",
  serviceUrl: "/Homepage_as_is",
  navigation: [
  {
    href: "/Homepage_as_is",
    text: "Home",
    active: true
  },
  {
    href: "/sign-in-page-as-is",
    text: "Sign in to your account"
  },
    {
      href: "#3",
      text: "Cymraeg"
    },
    {
      href: "/index.html",
      text: "Prototype main page",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Password reset</h1>
<p class="govuk-body">Instructions on how to reset your password will be sent via email in the next 15 minutes.</p>
<p class="govuk-body">If you don't receive an email check your junk/spam folder. If you still haven't received password reset instructions it is likely there is not an account registered for the email address provided.  Therefore, you should try alternative email addresses you may have registerd with.</p>
<p class="govuk-body">Wait 15 minutes before requesting a new password reset as this will invalidate any email and link that we have just sent you.</p>
<p class="govuk-body">If you still do not receive a password reset email, you can <a href="" class="govuk-link govuk-link--no-visited-state">request technical support</a>.</p>
<br>


{% endblock %}