{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Civil Service Jobs",
  serviceUrl: "/Homepage_new_design",
  navigation: [
  {
    href: "/Homepage_new_design",
    text: "Home",
    active: true
  },
  {
    href: "/sign_in_page",
    text: "Sign in to your account"
  },
    {
      href: "#3",
      text: "Cymraeg"
    },
    {
      href: "/index.html",
      text: "Prototype main page",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your email</h1><br>
<p>If you do not receive the email:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>check your junk or spam folder</li>
  <li>check that you did not create your account using a different email</li>
  <li>you may not have created an account yet</li>
</ul>
<p>If you still need help, fill out the <a href="https://www.civilservicejobs.service.gov.uk/csr/support.cgi">support form</a>.</p>
<br>


{% endblock %}
