{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Civil Service Jobs",
  serviceUrl: "/Homepage_as_is",
  navigation: [
  {
    href: "/Homepage_as_is",
    text: "Home",
    active: true
  },
  {
    href: "/sign-in-page-as-is",
    text: "Sign in to your account"
  },
    {
      href: "#3",
      text: "Cymraeg"
    },
    {
      href: "/index.html",
      text: "Prototype main page",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Password reset</h1>
<p class="govuk-body">If you want to change or have forgotten your password, enter the username (email) you used to create your account. We will email you instructions on how to change your password</p>
<p class="govuk-body">If the email does not arrive within 15 minutes then please review our <a href="https://www.gov.uk/guidance/using-the-civil-service-jobs-website?_ga=2.188165409.86601873.1713790873-520578469.1713790873" class="govuk-link govuk-link--no-visited-state">guidance</a>.</p>


<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
    <label class="govuk-label" for="one-half" style="font-weight: bold;">
      Account email address
    </label>
    <input class="govuk-input govuk" id="one-half" name="oneHalf" type="text">
  </div>
  </div>
</div><br>
<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Reset password
  </button><br>
  <br>


{% endblock %}
