{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start application
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Civil Service Jobs",
  serviceUrl: "/Homepage_new_design",
  navigation: [
  {
    href: "#1",
    text: "My dashboard",
    active: true
  },
  {
    href: "#2",
    text: "Sign out"
  },
  {
    href: "/index.html",
    text: "Prototype main page",
    active: true
  }
]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype and is not a real service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-body govuk-!-font-weight-bold">Job reference - 1234234</p>
      <hr class="govuk-!-margin-top-1 govuk-!-margin-bottom-1"><br><br>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters" style="padding-right:10px">
      
          <h1 class="govuk-heading-xl">Your application for Senior interaction designer</h1>
      
          <p class="govuk-body">When you are ready to begin your application for Senior interaction designer click the button below. </p>
          
            <p class="govuk-body">Once you begin your application you can leave and return to complete at any time. Your answers will automatically save when you complete a task.</p>
      
          <p class="govuk-body"><a href="/Job_advert">View the job advert</a>.</p>
      
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive"></span>
              You must submit your application before 11:55pm on 22nd February 2023.
            </strong>
          </div>

      {{ govukButton({
        text: "Start application",
        href: "/new-application-form",
        isStartButton: true
      }) }}


    </div>
  </div>

{% endblock %}
